@import "reset.css";

// vars
$Brightorange: hsl(31, 77%, 52%);
$Darkcyan: hsl(184, 100%, 22%);
$Verydarkcyan: hsl(179, 100%, 13%);
$Transparentwhite: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$Verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)
$borderRadius: 5px;
$btnRadius: 20px;

// Fonts
$Main: "Big Shoulders Display", cursive;
$Headers: "Lexend Deca", sans-serif;
:root{
  font-size: 15px;
}
html {
  height: 100%;
}
body {

  height: 100%;
  padding: 2rem 1rem;
display: grid;
place-items:center;
grid-template-rows: repeat(3,1fr)
}
// General card CSS
.card {

  padding: 3rem 2rem;
  img{
    margin-bottom: 1.5rem;
  }
  h1{
    font-family: $Headers;
    font-size: 2rem;
    color:$Verylightgray;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

  }
  p{
    color:$Transparentwhite;
    line-height: 2;
    margin-bottom: 1.5rem;
    width: 85%;

  }
button{
  border-radius: $btnRadius;
  background:  $Verylightgray;
  border: 0;
  padding: 1rem 2rem;
}
}

.sedan {
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  background: $Brightorange;
button{
  color: $Brightorange;
}

}
.SUV {
  background: $Darkcyan;
  button{
    color: $Darkcyan;
  }
}

.luxury {
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  background: $Verydarkcyan;
margin-bottom: 3rem;
  button{
    color: $Verydarkcyan;
  }
}

@media screen and (min-width: 400px) {
  body {
    border: 1px solid green;
  }
}
